.startContainer {
    display: flex;
    justify-content: center;
    padding: 30px 0;
}

.gameContainer {
    padding: 30px 0;
    text-align: center;
}

.wordList {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.word {
    font-size: 28px;
    padding: 10px;
    margin: 10px;
    border: 5px solid transparent;
}

.selectedWord {
    border: 5px solid #000;
}

.correctWord {
    border: 5px solid #0f0;
}

.incorrectWord {
    border: 5px solid #f00;
}

.actions {
    margin-top: 30px;
}

.result {
    margin-bottom: 20px;
}

.bigButton {
    padding: 10px;
    font-size: 28px;
}
